.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

node_modules
# build
package-lock.json
package.json
webpack.config.js
src/assets/app.js
src/assets/http.js